.section {
  max-width: 480px;
  margin: 0 auto;
  padding: 24px;
}

.title {
  font-size: 28px;
  text-align: center;
}

.subtitle {
  margin-top: 32px;
  font-size: 22px;
  text-align: center;
}

.error {
  color: red;
  text-align: center;
}
